
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
  margin: 20px;
  background-color: darkseagreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box{
  font-family: 'Noto Sans JP', sans-serif;
  background: #fff;
  float: left;
  line-height: 34px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
}

.box:focus {
  outline: none;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}